<div class="container">
  <div class="row">
    <div class="col-sm-8 offest-sm-2">
      <div class="movies">
        <% @movies.each do |movie| %>
          <h4><%= movie.title %></h4>
          <p><%= movie.synopsis %></p>
        <% end %>
        <%= form_tag movies_path, method: :get do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Find a movie"
          %>
          <%= submit_tag "Search", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
